NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PAYMENT_LINK_ACUPUNCTURE_FUNDAMENTALS=
STRIPE_PAYMENT_LINK_HERBAL_MEDICINE_BASICS=
STRIPE_PAYMENT_LINK_TUI_NA_MASSAGE_TECHNIQUES=
STRIPE_PAYMENT_LINK_QI_GONG_TAI_CHI_BEGINNERS=
